.dashboard-page-container{
  @include flexCenter(column);
  margin: 0 auto;
  margin-top: 48px;
  width: 100vw;

  h1 {
      font-weight: bold;
      text-align: center;
  }

  h2 {
    color: $success;
  }

  hr {
      border-color: $clearMint;
      width: 100%;
  }

  .centered-div {
      @include flexCenter(column);

      // This is for phone sized
      @media only screen and (max-width: 750px) {
          width: 70vw;
      }
  }

  .cards-container {
      @include nordButton();
      @include flexCenter(row);
      margin: 20px;
  }

  .card-body {
      background-color: $dark400;
      text-align: center;
  }

  .card {
    background-color: $dark400;
  }
}
