.password-strength-indicator {
    position: relative;
    padding-top: 5px;
    @include flexCenter(row);

    label {
      text-align: right;
      width: 60px;
      margin: 0px;

      .strength {
        min-width: 60px;
      }
    }


    .progress-bar {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      height: 4px;
      width: 85%;
    }

    .progress-bar::-webkit-progress-bar {
      border-radius: 3px;
      background-color: $white900;
    }

    .progress-bar::-webkit-progress-value {
      border-radius: 2px;
      background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    .strength-Débil::-webkit-progress-value {
      background-color: $alert;
    }

    .strength-Justa::-webkit-progress-value {
      background-color: $warning;
    }

    .strength-Buena::-webkit-progress-value {
      background-color: $blue;
    }

    .strength-Fuerte::-webkit-progress-value {
      background: $success;
    }
}
