.logout-button {
  @include flexRight(column);
  @include nordButton();
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.professor-page-container{
  @include flexCenter(column);
  margin: 0 auto;
  margin-top: 0px;
  width: 100vw;

  h1 {
      font-weight: bold;
      text-align: center;
  }

  hr {
      border-color: $clearMint;
      width: 100%;
  }

  .centered-div {
      @include flexCenter(column);

      // This is for phone sized
      @media only screen and (max-width: 750px) {
          width: 70vw;
      }
  }

  .description {
      text-align: center;
      font-weight: normal;
  }

  .good {
      color: $success;
  }

  .bad {
      color: $warning;
  }

  .accordion {
      margin-top: 20px;
  }

  .card {
    width: 50%;
    margin: 20px;
  }

  .card-header-good {
      background-color: $success;
      font-weight: bold;
      text-align: center;
  }

  .card-header-bad {
      background-color: $warning;
      font-weight: bold;
      text-align: center;
  }

  .card-body {
      background-color: $dark400;
      text-align: center;
  }

  .p-good {
      color: #058D6C;
      margin: 0;
  }

  .p-bad {
      color: $warning;
      margin: 0;
  }

  .accordion-item {
      @include flexCenter(column);
  }

}
