
@import "passwordstrength";

.register-container {
    @include flexCenter(column);
    width: 100vw;

    h1 {
        margin: 48px;
        font-weight: bold;
    }

    .register-center-form {
        width: 500px;

        // This is for phone sized
        @media only screen and (max-width: 520px) {
            width: 90%;
        }

    }

    .nord-button {
        background-color: $blue;
        border-color: $white500;
    }

    .nord-button:hover {
        background-color: $greyblue !important;
        color: white;
        border-color: $white500 !important;
    }
    .nord-button:active,
    .nord-button:focus {
        background-color: $greyblue !important;
        color: white;
        border-color: $white500 !important;
    }

}
