
@import "passwordstrength";
@import "dropzone";

.register-container {
    @include flexCenter(column);
    width: 100vw;

    h1 {
        margin: 48px;
        font-weight: bold;
    }

    .register-center-form {
        width: 500px;

        // This is for phone sized displays
        @media only screen and (max-width: 520px) {
            width: 90%;
        }

        a {
            color: $commonMint;
        }

        .terms {
            @include flexCenter(row);
            justify-content: flex-start;
        }

        .buttons-container {
            @include flexCenter(row);
            @include nordButton();

            .nord-button {
                width: 50%;
            }
        }
    }

    .csv-upload {
        @include flexCenter(column);

        input {
            weight: 20px;
            height: 20px;
        }

        .templates {
            @include flexCenter(row);
            .item {
                @include flexCenter(column);
                margin: 50px;
            img {
                height: 100px;
                width: 100px;
                margin-bottom: 20px;
            }

            .buttons-container {
                margin-top: 20px;
                @include flexCenter(row);
                @include nordButton();


                .nord-button {
                    width: 90%;
                }
            }
            }
        }

        .buttons-container {

            margin-top: 48px;
            @include flexCenter(row);
            @include nordButton();

            .nord-button {
                width: 90%;
            }
        }

        .selected-files {
            padding-top: 20px;
        }
    }

}
