
// Color palette
$background: #282a36;   // Background color
$currentLine: #44475a;	// Current line color
$selection: #44475a;	// Selection color
$foreground: #f8f8f2;	// Foreground color
$comment: #6272a4;	    // Comment color
$cyan: #8be9fd;	        // Cyan color
$green: #50fa7b;	    // Green color
$orange: #ffb86c;	    // Orange color
$pink: #ff79c6;         // Pink color
$purple: #bd93f9;	    // Purple color
$red: #ff5555;	        // Red color
$yellow: #f1fa8c;	    // Yellow color
